* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
  height: 100vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  background-image: url('img/fondo.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

header {
  background: #accde595;
  color: #fff;
  padding: 1rem;
  text-align: center;
  width: 100%;
  height: 20%;
  margin: 0 auto 1rem auto;
}

h1 {
  font-size: 3rem;
  font-family: 'Alegreya Sans SC', serif;
}

#subtitulo {
  font-size: 2rem;
  font-family: 'Alegreya Sans SC', serif;
}

main {
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  margin-top: 2rem;
  width: 100%;
  flex-grow: 1;
}

section {
  width: 100%;
}

#info1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-family: 'Alegreya Sans SC', serif;
}

footer {
  color: #fff;
  width: 100%;
  text-align: center;
  padding: 1rem;
}

button {
  background: black;
  font-family: 'Alegreya Sans SC', serif;
  cursor: pointer;
  border: none;
  padding: 1rem 2rem;
  color: #fff;
  font-size: 24px;
  font-weight: bold;
  position: relative;
  border-radius: 12px;
  margin-bottom: 1rem;
  margin-top: 1rem;
  cursor: pointer;
  transition: background-color 0.2s;
}

button::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
  background: linear-gradient(45deg, white, grey, black);
  background-size: 800%;
  border-radius: 10px;
  filter: blur(8px);
  animation: glowing linear infinite;
}

button:hover {
  background-color: #859398;
}

#localizacion {
  border: black 2px solid;
  justify-items: center;
  align-items: center;
  place-content: center;
}

#resultado {
  color: #fff;
  padding: 20px auto 20px auto;
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  font-size: 50px;
}

#lista {
  text-align: center;
  display: grid;
  grid-template-columns: repeat(4, 200px);
  grid-gap: 10px;
  place-content: center center;
  place-items: center center;
  list-style: none;
}

li {
  background: white;
  box-shadow: 10px 5px 5px black;
  width: 10rem;
  height: 10rem;
  border-radius: 10px;
  overflow: hidden;
  display: inline-block;
  flex-direction: row;
  padding: 1rem;
}

li,
img {
  width: 80%;
  height: auto;
}

li,
p {
  font-size: 1rem;
}

@keyframes glowing {
  0% {
    background-position: 0 0;
  }

  50% {
    background-position: 400% 0;
  }
  100% {
    background-position: 0 0;
  }
}

/*Media Queries*/

@media (max-width: 800px) {
  header {
    position: sticky;
    height: 23%;
  }

  h1 {
    font-size: 3rem;
  }

  #subtitulo {
    font-size: 1.5rem;
  }

  #resultado {
    margin-top: 2rem;
  }

  #lista {
    grid-template-columns: repeat(2, 200px);
  }

  li {
    width: 8rem;
    height: 8rem;
  }

  li,
  img {
    width: 80%;
    height: auto;
  }

  li,
  p {
    font-size: 0.8rem;
  }

  main {
    margin-top: 1rem;
    overflow: scroll;
  }

  footer {
    margin-top: 1rem;
  }
}

@media (max-width: 400px) {
  header {
    margin-bottom: 2rem;
    height: 20%;
  }

  h1 {
    font-size: 2rem;
  }

  #subtitulo {
    font-size: 1.2rem;
  }

  #resultado {
    margin-top: 1rem;
  }

  #lista {
    grid-template-columns: 200px;
  }

  li {
    width: 8rem;
    height: 8rem;
  }

  li,
  img {
    width: 80%;
    height: auto;
  }

  main {
    margin-top: 1rem;
    overflow: scroll;
  }

  footer {
    margin-top: 1rem;
  }
}
